h3{
    color: chartreuse;
    background-color: cornflowerblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    color: crimson;
    background-color: darkgoldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4{
    color: crimson;
    background-color: darkgoldenrod;
}